header {
  margin: 20 0 20 110px;
  font-size: 40px;
  font-family: arial;
}
img {
  height: 200px;
  width: 140px;
}

table {
  border: 2px solid black;
  background-color: B6FAFF;
}

th {
  border: 1px solid black;
  background-color: 25ADBA;
  font-family: arial;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: 7EC9D0;
  font-family: arial;
}
