<html>
<body>

  <form action="/add" method="post">
    <input type="text" name="name1" placeholder="first name">
    <input type="text" name="name2" placeholder="last name">
    <input type="text" name="email" placeholder="email">

    <button>click it!</button>
  </form>

  <% if (items) %>
  <ul>
    <% items.each do |x| %>
    <li><%= x[:first] %></li>
    <li><%= x[:second] %></li>
    <li><%= x[:xemail] %></li>
    <% end %>
  </ul>
  <% end %>

</body>
</html>
