<html>
<body>
  <form action="/add" method="post">
    <input type="text" name="name1" placeholder="first name">
    <input type="text" name="name2" placeholder="last name">
    <input type="text" name="email" placeholder="email">
    <input type="submit" value="Add">
  </form>

  <% if (items.length > 0) { %>
  <ul>
    <% items.forEach(function(item) { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
  <% } %>

</body>
</html>
